APP_URL =http://localhost:5173

#env
NODE_ENV = "development"

#db
DB_HOST = localhost
DB_PORT = 3306
DB_USER = root
DB_PASS =
DB_NAME = 
DB_BACKUP_LOCAL_DIR ="./src/storage/DBBackup"
DB_BACKUP_REMOTE= backupDBTest
DB_BACKUP_REMOTE_DIR= BackupDB
#auth
AUTH_JWT_SECRET = 
AUTH_VERIFICATION_JWT_SECRET = 
AUTH_VERIFICATION_TOKEN_TTL =7200
AUTH_ACCESS_TOKEN_TTL=3600
AUTH_REFRESH_TOKEN_TTL=7

#send email
MAIL_FROM_NAME = 
MAIL_FROM_ADDRESS =
MAIL_APP_PASSWORD =

